.book-card {
    margin: 30px;
    background-color: #ae92a3;
    border: 5px solid #ae92a3;
    display:inline-block;
    overflow: hidden;
    height: 400px;
    width: 500px;
    border-radius: 10px;
  
}
  
.book-card-h4{
    padding: 5px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
}
  
.book-card-h4:hover{
    padding: 5px;
    margin: 0;
    overflow: visible;  
    white-space: normal;
}
  
  
.book-card-p {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
}
  
.book-card-p:hover {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    white-space: normal;
}

.book-card-img-container {
    display: flex;
    justify-content: center;
}
  
.book-card-img{
    height: 154px;
    width: 107px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}
  